
@media (max-width: 576px) {

    .container {
        max-width: 540px;
       
    }
    .nav-right{
        .nav-list{
            display: none;
        }
        .nav-menu{
            display: flex !important;
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 540px;
      
    }
    .nav-right{
        .nav-list{
            display: none;
        }
        .nav-menu{
            display: flex !important;
        }
    }
}

@media (min-width:768px) and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .nav-right{
        .nav-list{
            display: none;
        }
        .nav-menu{
            display: flex !important;
        }
    }
}

@media (min-width: 992px) and (max-width:1200px) {
    .container {
        max-width: 960px;
    }
    
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    
}

