* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {

    width: 80%;
    margin: 0 auto;
}

.head {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    font-size: 20px;
    gap: 15px;
}

.head span {
    background-color: black;
    color: white;
    padding: 5px;
}

.cards {

    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
   

}

.card-1 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 65.5%;
  

}

.card-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 32.5%;
}

.box {
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 5px rgb(117, 116, 116);
}

.box img {
    width: 100%;
    height: 250px;

}

.box-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    font-size: 20px;
}
.btn{
display: flex;
justify-content: space-between;
align-items: center;
}

.btn button{
    padding: 15px;
    font-size: 20px;
    background-color: white;
    border: 1px solid #ccc !important;
}
.btn button:hover{
    background-color: #c5c4c4;
}

.sml-box {
    background-color: white;
    width: 100%;
  
    box-shadow: 0 2px 5px rgb(117, 116, 116);
}

.sml-box img {
    width: 100%;
    height: 260px;
    margin-top: -80px;

}

.sml-box-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    font-size: 20px;
    
}

.sml-box-2 {

    background-color: white;
    width: 100%;
  margin-top: 5px;
    box-shadow: 0 2px 5px rgb(117, 116, 116);
  

}

.post {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 2px solid #ebebebf1;

}

.post:hover {
    background-color: #c5c4c4;
}

.post-title {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 25px;
    background-color: #f1f1f1;
    width: 100%;
    height: 65px;

}

.img {
    width: 50px;
    height: 50px;
}

.img img {
    width: 50px;
    height: 50px;
}

.post-info {

    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 20px;
    padding: 24px;

}



.tag-title {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 25px;
    background-color: #f1f1f1;
    width: 100%;
    height: 65px;

}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.tags span {
    color: black;
    background-color: #f1f1f1;
    font-size: 15px;

    padding: 2px;

}

.travel {
    color: white !important;
    background-color: black !important;
    font-size: 20px !important;

}
.footer{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  color: white;
    background-color: rgb(95, 95, 95);
    padding: 30px;
}
a{
    color: white;
    
}
.btns button{
    padding: 10px;
    font-size: 20px;
  background-color: black;
  color: white;
}
.dis button{
    background-color: black;
    opacity: 0.4;
}
.btns button:hover{
    background-color: #c5c4c4;
}