* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body { 
    background-color: white;
   
   
 }
 
 
 
 header {
    background-color: white;
    height: 60px;
    width: 100%;
    padding: 15px;
    position: fixed;
    top: 0px;
  box-shadow: 0 2px 5px rgb(199, 198, 198) ;
 
 }
 
 
 #hero{
    display: flex ;
justify-content: center;

}


.btn> button{
    background-color: white;
    border: none;
    padding: 10px;
}
.btn-2> button{
    background-color: white;
    border: none;
    padding: 10px;
}
button:hover{
    background-color: lightgray;
}
nav{
    display: flex;
    justify-content: space-between;
}
button{
    font-size: 20px;
}


.project{ display: flex;
    font-size: 30px;
    padding-left: 210px ;
    margin: 70px 0;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.images> img{
    width: 20%;
}